<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/adminstyle.css" rel="stylesheet">
  <title>Админ: Даты</title>
</head>

<body>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  <div class="container">

    <div class="nbody">
      <div class="menu">
        <div class="head-1">
          <a href="#submenu" class="main-item" tabindex="1"><u>Главная</u></a>
          <ul id='submenu' class="sub-menu">
            <li><a class="choose-item" href="reviews">Отзывы</a></li>

            <li><a class="choose-item" href="users">Юзеры</a></li>
            <li><a class="choose-item" href="person">Персона</a></li>
            <li><a class="choose-item" href="date">Даты</a></li>
             <li><a class="choose-item" href="group">Группы</a></li>
            <li><a class="choose-item" href="teacher">Преподаватель</a></li>
            <li><a class="choose-item" href="parent">Родитель</a></li>
            <li><a class="choose-item" href="student">Ученик</a></li>
            <li><a class="choose-item" href="contract">Договоры</a></li>

          </ul>
        </div>
        <div class="head-2">
          <a href="#submenu1" class="main-item" tabindex="2">Отчеты</a>
          <ul id='submenu1' class="sub-menu">
            <li><a class="choose-item" href="studgroup">Группы</a></li>
            <li><a class="choose-item" href="adminstud">Ученики</a></li>
            <li><a class="choose-item" href="adminteacher">Преподаватели</a></li>


          </ul>
        </div>
        <div class="head-3">
          <a href="#submenu3" class="main-item" tabindex="3">Курсы</a>
          <ul id='submenu3' class="sub-menu">
            <li><a class="choose-item" href="admintype">Направления</a></li>
            <li><a class="choose-item" href="admincourse">Курсы</a></li>
            <li><a class="choose-item" href="programma">Программа</a></li>
            <li><a class="choose-item" href="info">Инфо</a></li>
          </ul>
        </div>
        <div class="head-4">
          <a href="adminpanel" class="main-item" tabindex="3">Расписание</a>
        </div>
        <div class="head-5">
          <a href="request" class="main-item" tabindex="4">Заявки</a>
        </div>

        <div class="head-6">
          <a href="task" class="main-item" tabindex="4">Задачи</a>
        </div>

        <div class="head-7">
          <a href="adminmessage" class="main-item" tabindex="4">Уведомления</a>
        </div>
        <div class="head-8">

        </div>
        <div class="head-9"></div>
      </div>

      <div class="main">
        <div class="main-head">
          <h3>Даты</h3>
        </div>


        <table align="center">
          <tbody>
            <tr class="name">
              <td style="width: 200px;">Дата начала обучения</td>
              <td style="width: 200px;">Действие</td>
            </tr>
            <tr>
              <form action="AddDate" method="post">

                <td><input name="Dat" type="date" required></td>

                <td><button type="submit" class="but-chan1"  onclick="alert('Данные были добавлены')">
                    <div style="margin: 5px;"><img class="img-change"
                        src="images\ok.png"><span>Сохранить</span></div>
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">

              </button></form>
              <div style="margin: 4%;"></div>

              </td>

            </tr>

            {{#each menu16}}
            <tr>
              <td>
                <p>{{DateStudy}}</p>
              </td>

              <td>
                <form action="DelDate" method="post">
                  <button class="but-chan2" onclick="alert('Данные были удалены')">
                    <input name="St" hidden type="number" value="{{IDStudy}}">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <div style="margin: 5px"><img class="img-change" src="images\del.png"><span>Удалить</span></div>
                  </button>
                </form>
              </td>

            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    //курс
    let i = 0;
    while (i < {{ menu10 }}+1) {
      select = document.getElementsByClassName('Course')[i];
      {{#each menu14}}
      var opt = document.createElement('option');
      opt.value = {{ IDCourse }};
      opt.innerHTML = '{{NameCourse}}';
      select.appendChild(opt);
      {{/each}}
        ++i;
      }
      
  </script>
</body>

</html>