<!DOCTYPE html lang=”ru”>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" media="screen,projection" href="/css/ui.totop.css" />
    <title>Детский центр "Кубик"</title>
 
    
</head>

<body>
    <script>

        

        function add(){
            let name = document.getElementById('name').value;
            let phone = document.getElementById('phone').value;
            console.log(name+'1' + phone+'1');
            if (name !== '' && phone !== '')
                alert('Спасибо. Заявка принята. В ближайшее время с вами свяжется наш менеджер.')
        }
        
        
        
    </script>
    <p><a name="top"></a></p>
    <div class="container">
        <div class="box-1">
            <div class="header head-text">
                <div class="head-1">
                    <img src="/images/logo.png" width="100" height="100">

                </div>
                <div class="head-2">
                    <a class="text-home" href="#Cource">Курсы</a>
                </div>
                <div class="head-3">
                    <a class="text-home" href="#Reviews">Отзывы</a>
                </div>
                <div class="head-4">
                    <a class="text-home" href="#About">О нас</a>
                </div>
                <div class="head-5">

                </div>
                <div class="head-6">

                </div>
                <div class="head-7">

                </div>
                <div class="head-8">
                    <a class="text-home" href="tel:+79129497733">+7 (912) 949-77-33</a>
                </div>
                <div class="head-9">
                    <a  class="text-home" href="/authorization">Личный кабинет</a>
                </div>
            </div>
            <div class="box-2">
                <div class="main main-text">
                    <div class="main-1">
                        <div>
                            <h1>
                                Центр обучения, развлечения и досуга детей в городе Ухта
                            </h1>
                            <br>
                            <p>
                                Запишите ребенка на БЕСПЛАТНОЕ пробное занятие прямо сейчас!
                            </p>
                            <br>
                           <button class="floating-button"><a href="#Write" class="txt-but">Записаться</a></button>  
                        </div>

                    </div>
                    <div class="main-2">
                        <img src="/images/photo.png" width="400" height="400">

                    </div>


                </div>
            </div>

        </div>
        <div class="choice" id="Cource">
            <h4>ВЫБЕРИТЕ НАПРАВЛЕНИЕ</h4>
        </div> 
        <div>
            <p class="course-text">Программирование</p>
        </div>
        <div class="course">
            {{#each menu1}}
            <div class="choice-1">
                <div class="infocourse-1">
                    <a class="name-course" href="aboutcourse/{{IDCourse}}">{{NameCourse}}</a>
                    <p>{{Age}}</p>
                    <br>
                    <p>{{AboutCourse}}</p>
                </div>
                <div class="img">
                    <img src="/images/pic1.png" width="120" height="155">
                </div>
            </div>
            {{/each}}
        </div>

        <div>
            <p class="course-text">Творчество</p>
        </div>
        <div class="course">
            {{#each menu2}}
            <div class="choice-1">
                <div class="infocourse-1">
                    <a class="name-course" href="aboutcourse/{{IDCourse}}">{{NameCourse}}</a>
                    <p>{{Age}}</p>
                    <br>
                    <p>{{AboutCourse}}</p>
                </div>
                <div class="img">
                    <img src="/images/pic1.png" width="120" height="155">
                </div>
            </div>
            {{/each}}
        </div>
        <div>
            <p class="course-text">Развлечения</p>
        </div>
        <div class="course">
            {{#each menu3}}
            <div class="choice-1">
                <div class="infocourse-1">
                    <a class="name-course" href="aboutcourse/{{IDCourse}}">{{NameCourse}}</a>
                    <p>{{Age}}</p>
                    <br>
                    <p>{{AboutCourse}}</p>
                </div>
                <div class="img">
                    <img src="/images/pic1.png" width="120" height="155">
                </div>
            </div>
            {{/each}}
        </div>
        <div class="choice">
            <h4>ПОМОЖЕМ С ВЫБОРОМ</h4>
            <p>
            <button class="floating-button"><a href="#Write" class="txt-but">Консультация</a></button>
            </p>
        </div>

        <div class="choice">
            <div class="container">
                <div class="row" id="About">
                    <div class="col-12">
                        <h4>О НАС</h4>
                        <br>
                        <p class="aboutus">
                            Детский центр “Кубик” - это место, где дети могут получить знания в игровой форме по разным
                            направлениям: программирование, рисование, финансовая грамотность и цифровое творчество.

                            Все курсы составлены профессиональными методистами с учетом возврастных возможностей
                            ребенка.


                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="box-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="about">
                            НАШ АДРЕС:
                        </p>

                        <p class="about">
                            г. Ухта, ул.Тиманская, д.13
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <a href="https://yandex.ru/maps/10945/uhta/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;top:0px;"></a>
                        <a href="https://yandex.ru/maps/10945/uhta/house/timanskaya_ulitsa_13/YUoYcAJiT0wPQFhpfXl0eXtqYw==/?ll=53.652698%2C63.558798&source=wizgeo&utm_medium=mapframe&utm_source=maps&z=16"
                            style="color:#eee;font-size:12px;"></a><iframe
                            src="https://yandex.ru/map-widget/v1/-/CCU5uPt0CC" height="400" width="100%"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="choice" id="Reviews">
        <h4>ОТЗЫВЫ</h4>
    </div>
    <div class="comment">

        <div class="com-1">
            {{#each menu4}}
            <div class="text-com">
                <p class="text-com-name"> {{Author}} </p>
                <p>{{TextFeedback}}
                </p>

            </div>
            {{/each}}
        </div>



        <div class="choice">
            <p>
          <button class="floating-button"><a class="txt-but" onclick='openform()'>Написать</a></button>
            </p>

        </div>
   
        <div id='form' >
             
            <form role="form" action="/requestFine" autocomplete="off" method="POST">
            <div>
                <p style="font-size:22px ;">Ваше имя:</p>
                <input style="font-size:22px" type="text" name="nameReq" size="60" required oninput="this.value=this.value.replace(/[^а-яА-Я]/g,'');">
                <br>
                <br>
                <p style="font-size:22px ;">Ваш отзыв:</p>
                
            </div>
                    <textarea name="Reques" id='text-form' style="font-size:22px"></textarea>
            <div style="margin-left:34% ;">
                <button class="floating-button" type="submit"><a class="txt-but">Отправить</a></button>
                 <button class="floating-button" type="submit" id="cl" onclick='closeForm()'>Скрыть</button>
            </div>
           
            </form>
            
        </div>
        

    </div>

    <div class="choice">

        <h4>ФОТО</h4>
    </div>
    <div class="comment">
        <div class="com-1">
            <div class="photo-img">
             <p class="thumb">
                <img src="/images/1.jpg" width="420" height="420">

            </p>
            </div>
             <div class="photo-img">
             <p class="thumb">
                <img src="/images/3.jpg" width="420" height="420">

            </p>
            </div>
            <div class="photo-img">
             <p class="thumb">
                <img src="/images/7.jpg" width="420" height="420">

            </p>
            </div>
            <div class="photo-img">
             <p class="thumb">
                <img src="/images/2.jpg" width="420" height="420">

            </p>
            </div>
             <div class="photo-img">
             <p class="thumb">
                <img src="/images/4.jpg" width="420" height="420">

            </p>
            </div>
             <div class="photo-img">
             <p class="thumb">
                <img src="/images/6.jpg" width="420" height="420">

            </p>
            </div>
             <div class="photo-img">
             <p class="thumb">
                <img src="/images/5.jpg" width="420" height="420">

            </p>
            </div>
             <div class="photo-img">
             <p class="thumb">
                <img src="/images/8.jpg" width="420" height="420">

            </p>
            </div>
             <div class="photo-img">
             <p class="thumb">
                <img src="/images/9.jpg" width="420" height="420">

            </p>
            </div>
          
        </div>
       
        </div>
        <div class="choice">

            <h4>ОТВЕТЫ НА ЧАСТЫЕ ВОПРОСЫ</h4>
        </div>
        <div class="choice">
            <div class="question">
                <div class="text-ques">
                    <h5>Со скольки лет можно начинать обучение?</h5>
                </div>
                <div>
                    <button class="button-ques" onclick="view('t1')" ; return false><img src="/images/plus.png"
                            width="30" height="30">

                    </button>

                </div>
                <span id="t1" class="answer-ques">
                    У каждого курса своя возратсная категория. Для более точной информации перейдите на страницу нужного
                    Вам курса.
                </span>
            </div>

            <div class="question">
                <div class="text-ques">
                    <h5>Нужен ли ребенку опыт?</h5>
                </div>
                <div>
                    <button class="button-ques" onclick="view('t2')" ; return false><img src="/images/plus.png"
                            width="30" height="30"> </button>
                </div>
                <span id="t2" class="answer-ques">
                    Нет, опыт совсем не обязателен. Здорово, если ваш ребенок начнет учебу, уже имея какие-то знания и
                    навыки. Мы поможем ему их расширить. Если опыта нет — это тоже здорово, ведь наши программы
                    рассчитаны на то, чтобы обучить всему с нуля.
                </span>

            </div>
            <div class="question">
                <div class="text-ques">
                    <h5>Как часто формируются группы?</h5>
                </div>
                <div>
                    <button class="button-ques" onclick="view('t3')" ; return false><img src="/images/plus.png"
                            width="30" height="30"> </button>
                </div>
                <span id="t3" class="answer-ques">
                    Группы формируются по мере набора детей.
                </span>
            </div>
            <div class="question">
                <div class="text-ques">
                    <h5>Сколько человек занимается в одной группе?</h5>
                </div>
                <div>
                    <button class="button-ques" onclick="view('t4')" ; return false><img src="/images/plus.png"
                            width="30" height="30"> </button>
                </div>
                <span id="t4" class="answer-ques">
                    Во всех группах до 10 человек
                </span>
            </div>
            <div class="question">
                <div class="text-ques">
                    <h5>Проходят ли занятия летом?</h5>
                </div>
                <div>
                    <button class="button-ques" onclick="view('t5')" ; return false><img src="/images/plus.png"
                            width="30" height="30"> </button>
                </div>
                <span id="t5" class="answer-ques">
                    Летом занятий нет, но не спешите унывать. Летом действует лагерь дневного пребывания, в котором дети
                    и учатся, и равзлекаются. Подробнее смотрите в "Летний лагерь"
                </span>
            </div>
            <div class="question">
                <div class="text-ques">
                    <h5>Что, если ребенок не уверен, что ему понравится?</h5>
                </div>
                <div>
                    <button class="button-ques" onclick="view('t6')" ; return false><img src="/images/plus.png"
                            width="30" height="30"> </button>
                </div>
                <span id="t6" class="answer-ques">
                    Чтобы оценить насколько вам подходит обучение в Кубике, вы можете записать ребенка на пробное
                    занятие.
                </span>
            </div>

        
        <div id="Write" class="choice">

            <h4>ЗАПОЛНИТЕ ФОРМУ</h4>
            <h5>Мы поможем подобрать курс для вашего ребенка и ответим на все вопросы</h5>
        </div>
        <div class="fchoice">

            <form id="contact" method="POST" action="NewClient"  name="contact" >
                <input id="name" class="txt" name="name"  type="name" oninput="this.value=this.value.replace(/[^а-яА-Я]/g,'')" placeholder="Ваше имя *" required>
                <input id="phone" class="txt" name="phone" type="phone" oninput="this.value=this.value.replace(/[^ 0-9]/g,'')" placeholder="Ваш телефон *" required>

                <input id="email" class="txt" name="email" type="email" placeholder="Ваш e-mail">
                <br>
                <textarea id="msg" class="txtarea" name="msg" placeholder="Дополнительная информация:"></textarea>
                <p>
                    <button onclick="add()" id="butt" class="floating-button"  > Отправить</button>
                </p>
                 
             
            </form>
        </div>

    </div>
    <div class="footer">
        <div class="foot-1">
            <div>
                <h3 class="name-fot">Контакты</h3>
            </div>

            <div class="grid-network">
                <div>
                    <a href="https://vk.com/kubik_uhta"  target="_blank"><img class="img-info" src="/images/vklogo.png"></a>
                </div>
            </div>
            <div>
                <p class="text-home" href="">Ухта, Тиманска 13</a>
            </div>

            <div>
                <p class="text-home" >Водный, Гагарина 16</a>
            </div>
            <div>
                <a class="text-home" href="tel:+79129497733">+7 (912) 949-77-33</a>
            </div>
           
        </div>
        <div class="foot-1">
            <div>
            <h3 class="name-fot">Информация</h3>
            </div>                     
                <div>
                   <p class="text-home"><a  class="text-home"href="#Cource">Курсы</a></p> 
                </div>
                <div>
                <p class="text-home"> <a class="text-home" href="#Reviews">Отзывы</a>  </p>
                </div>
                <div>
                <a class="text-home" href="#About">О нас</a>
                </div>
                <div>

                </div>
          
         </div> 
  
         <div>
            <img class="fot-logo" src="/images/logo.png">
        </div>
            
          
        </div>
        
    </div>

    </div>
   <script src="/script/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/script/easing.js" type="text/javascript"></script>
<script src="/script/jquery.ui.totop.js" type="text/javascript"></script>
<script>
    function view(n) {
            style = document.getElementById(n).style;
            style.display = (style.display == 'block') ? 'none' : 'block';
        }

        //функция открия формы для написания отзыва
        document.getElementById('form').style.display = 'none';

        function openform() {
            document.getElementById('form').style.display = 'block';
        }
         function closeForm() {
            document.getElementById('form').style.display='none';
        }



$(document).ready(function() {

var defaults = {
containerID: 'toTop', // fading element id
containerHoverID: 'toTopHover', // fading element hover id
scrollSpeed: 2000,
easingType: 'linear'
};

 
$().UItoTop({ easingType: 'easeOutQuart' });
 
});
</script>
</body>

</html>